<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org"></html>
<html>
<head>
    <title>个人用户信息</title>
</head>
<body>
<form th:action="@{/user/updateUser}" method="post">
    <input type="hidden" name="userid" th:value="${user.userid}"><br>
    <input type="text" name="username" th:value="${user.username}"><br>
    <input type="text" name="usersex"  th:value="${user.usersex}"><br>
    <input type="submit" value="提交" />
</form>

</body>
</html>